apiVersion: v1
kind: Secret
metadata:
  name: commerce-secrets
type: Opaque
stringData:
  PORT: "4001"
  MONGODB_URI: "your_mongodb_atlas_uri"
  CLOUDINARY_API_KEY: "your_cloudinary_api_key"
  CLOUDINARY_API_SECRET: "your_cloudinary_secret"
  CLOUDINARY_CLOUD_NAME: "your_cloud_name"
  JWT_SECRET: "your_jwt_secret_min_32_chars"
  ADMIN_EMAIL: "your_admin_email"
  ADMIN_PASSWORD: "your_admin_password"
  STRIPE_SECRET_KEY: "your_stripe_secret"
  PAYSTACK_SECRET_KEY: "your_paystack_secret"
  GOOGLE_CLIENT_ID: "your_google_client_id"
  FRONTEND_URL: "https://yoursite.com"
  EMAIL_USER: "your_email"
  EMAIL_PASS: "your_app_password"
